body {
    margin: 0;
}
#container {
    margin: auto;
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
}
#left {
    margin: 0;
    width: 25%;
    padding: 10px;
    /* border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
}
#right {
    margin: 0;
    width: 75%;
    height: 700px;
    /* border: 1px solid blue; */
    display: inline-block;
}
img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}
h3 {
    font-size: 25px;
    margin: 10px 0 0 0;
    font-family: 'Geo', sans-serif;
    color: #fcce68;
    text-shadow: 1px 2px 1px black, 0 0 15px #ed2124, 0 0 3px #ed2124;
}
h4 {
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    font-weight: bolder;
}
p {
    margin: 0;
    font-size: 20px;
    font-family: 'Geo', sans-serif;
    color: #fcce68;
    text-shadow: 1px 2px 1px black, 0 0 15px #ed2124, 0 0 3px #ed2124;
}