<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warp Speed Chic</title>
    {% load staticfiles %}
    <link rel= "stylesheet" href= "{% static 'app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'app/js/jquery.js' %}"></script>
</head>
<body>
    <div id="left">
        {% load static %}
        <a href="/">
            <img src="{% static 'images/alexTurner.jpg' %}" alt="alexTurner">
        </a>
        <h3>Warp Speed Chic</h3>
        <p>Gifs and pictures to commemorate the Arctic Monkeys</p>
        <div id="nav">
            <a href="/">
                <div class="navItems">
                    {% load static %}
                    <img src="{% static 'images/homePNG.png' %}" alt="home" class="icon">
                    <h6>Home</h6>
                </div>
            </a>
            <a href="/database">
                <div class="navItems">
                    {% load static %}
                    <img src="{% static 'images/files.png' %}" alt="home" class="icon">
                    <h6>Database</h6>
                </div>
            </a>
            <a href="/post">
                <div class="navItems">
                    {% load static %}
                    <img src="{% static 'images/upload.png' %}" alt="home" class="icon">
                    <h6>Add a Post</h6>
                </div>
            </a>
        </div>
    </div>
    <div id="right">
        <div id="contentPost">
            <h4>Submit a Post</h4>
            <form action="/submitPost" method="POST">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search Gifs" id="search">
                <input type="number" name="limit" placeholder="Number of Post" id="number">
                <input type="submit" value="Search" id="submit">
            </form>
        </div>
        {% for q in search.data %}
            <div id="hold">
                <form action="/append" method="POST" id="none">
                    {% csrf_token %}
                    <input type="hidden" value="{{ q.images.original.url }}" name="url">
                    <input type="hidden" value="{{ q.title }}" name="title">
                    <img src="{{q.images.original.url}}" id="search">
                    <input type="submit" value="Add" id="add">
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>