<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warp Speed Chic</title>
    {% load staticfiles %}
    <link rel= "stylesheet" href= "{% static 'app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'app/js/jquery.js' %}"></script>
</head>
<body>
    <div id="left">
        {% load static %}
        <a href="/">
            <img src="{% static "images/alexTurner.jpg" %}" alt="alexTurner">
        </a>
        <h3>Warp Speed Chic</h3>
        <p>Gifs and pictures to commemorate the Arctic Monkeys</p>
        <div id="nav">
            <a href="/">
                <div class="navItems"><h6>Home</h6></div>
            </a>
            <a href="/database">
                <div class="navItems"><h6>Database</h6></div>
            </a>
            <a href="/post">
                <div class="navItems"><h6>Post</h6></div>
            </a>
        </div>
    </div>
    <div id="right">
        <div id="contentPost">
            <h4>Submit a post</h4>
            <form action="/submitPost" method="POST">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search Gifs" id="search">
                <input type="number" name="limit" placeholder="Number of post" id="number">
                <input type="submit" value="Submit Post" id="submit">
            </form>
        </div>
        {% for q in search.data %}
            <a href="/append"><img src="{{q.images.original.url}}" id="search"></a>
        {% endfor %}
    </div>
</body>
</html>