<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warp Speed Chic</title>
    {% load staticfiles %}
    <link rel= "stylesheet" href= "{% static 'app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'app/js/jquery.js' %}"></script>
</head>
<body>
    <div id="left">
        {% load static %}
        <a href="/">
            <img src="{% static 'images/alexTurner.jpg' %}" alt="alexTurner">
        </a>
        <h3>Warp Speed Chic</h3>
        <p>Gifs and pictures to commemorate the Arctic Monkeys</p>
        <div id="nav">
            <a href="/">
                <div class="navItems">
                    {% load static %}
                    <img src="{% static 'images/homePNG.png' %}" alt="home" class="icon">
                    <h6>Home</h6>
                </div>
            </a>
            <a href="/database">
                <div class="navItems">
                    {% load static %}
                    <img src="{% static 'images/files.png' %}" alt="home" class="icon">
                    <h6>Database</h6>
                </div>
            </a>
            <a href="/post">
                <div class="navItems">
                    {% load static %}
                    <img src="{% static 'images/upload.png' %}" alt="home" class="icon">
                    <h6>Add a Post</h6>
                </div>
            </a>
        </div>
        {% if obj.has_other_pages %}
            <ul class="pagination">
                {% if obj.has_previous %}
                    <li class="leftArrow">
                        <a href="?page={{ obj.previous_page_number }}" id="a">&laquo;</a>
                    </li>
                {% else %}
                    <li class="leftArrow">
                        <span>&laquo;</span>
                    </li>
                {% endif %}
                {% for i in obj.paginator.page_range %}
                    {% if obj.number == i %}
                        <li class="active">
                            <span>{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="inactive">
                            <a href="?page={{ i }}" id="a">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if obj.has_next %}
                    <li class="rightArrow">
                        <a href="?page={{ obj.next_page_number }}" id="a">&raquo;</a>
                    </li>
                {% else %}
                    <li class="rightArrow">
                        <span>&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <div id="right">
        {% for q in obj %}
            <div class="content">
                <img src="{{q.url}}"class="cont">
                <h4 id="title">{{ q.title }}</h4>
            </div>
        {% endfor %}
    </div>
</body>
</html>